.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: thistle;
    font-weight: bold;
    font-style: italic;
}
.header-left{
    border-radius: 10;
}
.header-left :hover{
    background-color: black;
    color: white;
}
.btn{
    font-style: italic;
    font-weight: 900;
    
}